@charset "UTF-8";
/* CSS Document */

/*reset*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td 
	{  
		margin:0; 
		padding:0; 
		}

h1,h2,h3
	{
		font-weight:normal;
		}	
		
@font-face {
	    font-family: 'piron_v2_regular';
    src: url('webfontkit-20130701-142140/tfpironv2-webfont.eot');
    src: url('webfontkit-20130701-142140/tfpironv2-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit-20130701-142140/tfpironv2-webfont.woff') format('woff'),
         url('webfontkit-20130701-142140/tfpironv2-webfont.ttf') format('truetype'),
         url('webfontkit-20130701-142140/tfpironv2-webfont.svg#piron_v2_regular') format('svg');
	    font-weight: normal;
	    font-style: normal;

}

/*text + general*/

body  
	{
	  	font-family: 'piron_v2_regular', helvetica, arial, sans-serif;
	  	font-size:12px;
	  	text-align:center;
		padding:0;
		line-height:1.5em;
		color:#777;
		background:#ECECEC;
		background:#FFF;
		/*background:#2E2E2E;*/
	 	}
	 	
h1
	{
		font-size: 1.5em;
		background: url(img/) no-repeat;
		/*text-indent: -9999px;*/
		display: block;
		}
		
h2
	{
		font-size: 1.25em;
		margin: 0 0 1em 0;
		font-weight: normal;
		line-height: 1.25;
		font-family: 'piron_v2_regular', helvetica, arial, sans-serif;
		height: 1.5em;
		border-bottom: 1px solid #C9C9C9;	
		text-transform: uppercase;	
		}	
		
h3.work-title
	{
		text-transform: none;
		font-size: 1.25em;
		font-family: 'Lato', arial, sans-serif;
		margin-bottom: 0.75em;
		font-weight: bold;
		
		}		
		
p
	{
		margin-bottom: 1.25em;
		font-size: 1.15em;
		line-height: 1.5;
		font-family: 'Lato', arial, sans-serif;
		font-weight: 300;
		width:25em;
		}	
		
	
blockquote
	{
		margin:0 1.5em 2em 1em;
		font-size: 1.15em;
		line-height: 1.5;
		font-family: 'Lato', arial, sans-serif;
		font-weight: 300;
		font-style: italic;
		}	

/*
blockquote:before
	{
		content:open-quote;
		}		
		
blockquote:after
	{
		content:close-quote;	
		}
*/


a:link, a:visited 
	{
	 	color: #666;
	 	text-decoration:none;
	 	-webkit-transition: color 200ms ease-in; /*safari and chrome */
	 	-o-transition: color 200ms ease-in; /* opera */
		}

a:hover 
	{ 
	 	color: #999;
	 	text-decoration:none;
		}


/*LAYOUT*/

#container 
	{
		width:80em;
		margin:0 auto;
		/*background: red;*/
		padding:1.5em 0 5em 0;
		}
		

#header
	{
		position:relative;
		float:left;
		width:100%;
		height:10em;
		z-index:999;
		}
		
.logo
	{
		position: relative;
		float: left;
		text-align: left;
		width: 56em;
		margin: 0 0 1em 0;
		height: 5em;
		padding: 4.1em 0 0 0;		
		}		
		
#menu
	{
		position: relative;
		float: left;
		text-align: left;
		padding: 4.25em 0;
		margin: 0;
		/*background: yellow;*/
		}		

#menu ul
	{
		margin:0;
		}
	

#menu ul li
	{
		list-style-type:none;
		text-align:left;
		float:left;
		padding: 0 0 0 0.5em;
		}

#main
	{
		position: relative;
		float:left;
		/*could make the content fixed using this technique but might be better to 'stick' header*/
		/*height:50em;*/
		/*overflow: scroll;*/
		}		
	
		
.group:after 
	{
	    content: "";
	    display: table;
	    clear: both;
		}

		
#left-section
	{
		width: 28em;
		float: left;
		padding: 2em 2em 0 0;
		text-align: left;		
		font-family: 'lato', arial, sans-serif;
		}	
		
#left-section a:link, a:visited
	{
		border-bottom: 1px solid #ccc;
		}	
		

#right-section
	{
		position: relative;
		float: left;
		width: 46em;
		margin:5.5em 0 0 0;
		}
		
#right-section img
	{
		width: 100%;
		margin-bottom: 2.5em;
		}
		
.full-width
	{
		width: 80em;
		height:55em;
		overflow-y: hidden;
		}
		
		
	

/*HOME*/

.profile
	{
		width: 20em;
		min-height: 16em;
		float: left;
		padding: 1em;
		border: 1em double #CCC;
		margin: 1.25em 26px 0 0;
		font-family: 'lato';
		letter-spacing: 1px;	
	    -webkit-transition: background-color 750ms linear;
	    -moz-transition: background-color 750ms linear;
	    -o-transition: background-color 750ms linear;
	    -ms-transition: background-color 750ms linear;
	    transition: background-color 750ms linear;
	
		}

.profile:hover
	{		
	     background-color: #333;
	     }
		
		
.title
	{
		font-size:1em;
		text-transform: uppercase;
		margin: 1em 0;
		}

		
.profile img
	{
		width: 17em;
		height: 12em;
		margin: 1em 0 2em 0;
		}
	



/*CONTACT*/
		
#contact
	{
		position:relative;
		float:left;
		/*display:none;*/
		}

.map
	{
		width: 100%;
		height: 30em;
		}
		
.close
	{
		/*margin:22px 0 0 0;*/
		position: absolute;
		bottom: 20px;
		right:22px;
		text-transform: lowercase;
		}

/*captions*/


.cycle-overlay
	{
		left:-216px;
		top:360px;
		text-align: left;
		position:absolute;
	}
		
#alt-caption
	{
		text-align: left;
		position:absolute;
		top: 392px;
		z-index:0;
		color:#666;
		}

/* add class to the page and id to the correspnding link */

body#home a#homenav,
body#about a#aboutnav,
body#members a#membersnav,
body#news a#newsnav,
body#contacts a#contactnav 

	{
		color: #333;
		border-bottom: double;
		border-bottom-color: #BBB;		
		}



/*images*/

		
/* project description */

.description-info /*icon which expands to make the... */
	{
		width:24px;
		height:24px;
		position:absolute;
		top:0;
		left:0;
		background: #191919 no-repeat;
		z-index: 99998;
		display:none;
		/*bottom: 0;*/
		}

.project-description /* good guess! */
	{

		position: absolute;
		top: 0;
		width: 256px;
		text-align: left;
		background:rgba(0,0,0,0.9);
		padding: 33px;
		z-index: 999999;
		left: 0px;	
		height:354px;
		color:#888;
		}			


/*slideshow*/


/* disiable previous arrow */



.cycle-prev
	{
		width: 50%;
		z-index: 999;
		position: absolute;
		top:0;
		left:0;
		height:100%;
		opacity:0;
		background:url(img/arrow-prev-2.png) 0% 50% no-repeat;
		}
		
		.cycle-prev:hover
			{
				background:url(img/arrow-prev-2.png) 0% 50% no-repeat;
				opacity:1;
				-webkit-transition:0.25s ease;
				}


		
.cycle-next
	{
		width: 50%;
		z-index: 999;
		position: absolute;
		top: 0;
		right:0;
		height:100%;	
		opacity:0;
		background: url(img/arrow-next-2.png) 100% 50% no-repeat;
		}
		
		.cycle-next:hover
			{
				background: url(img/arrow-next-2.png) 100% 50% no-repeat;
				opacity:1;
				-webkit-transition:0.25s ease;
				}
				
/*Tumblr*/

ol
	{
		list-style: none;
	}

.tumblr_posts 
	{ 
		background:white;
		margin-bottom:2em;
		width:40em;
		text-transform: none;
	}

.tumblr_post 
	{	
 		 margin-bottom:2em;
 		 border-bottom: 1px solid #ccc;
  				}

.tumblr_title 
	{	
		font-size:1.75em;
		font-weight: bold;
		margin:0.5em 0;
		}

.tumblr_body img 
	{	
		margin-bottom:2em;
		}
		
.tumblr_caption
	{	
		margin-bottom:2em;
		width:30em;
		}		

.read_more_container 
	{
		}

.read_more_container a 
	{
	
		}
				
/* Max width of 960 pixels. 
@media screen and (max-width: 960px) {

	#container 
		{
			width:100%;
			margin:0 auto;
			padding:0;
			}
			
	.logo
		{
			position: relative;
			float: left;
			text-align: center;
			width: 100%;
			margin: 2em 0 0 0;
			height: 2em;
			padding: 0;		
			}	
			
	#main
		{
			position: relative;
			float:left;
			width:100%;
			/*could make the content fixed using this technique but might be better to 'stick' header*/
			/*height:50em;*/
			/*overflow: scroll;*/ /*
			}		

	.cycle-slideshow img
		{
			width:100%;
			height:auto;
			}	
		
	.full-width {
			width:100%;		
	}			
	
}

*/

